<div class="authorhead">
<% if article.author and article.author.nickname %>
written by <%= article.author.nickname %>
<% elsif article.author and article.author.name %>
written by <%= article.author.nickname %>
<% end %>
</div>
