
<%
require 'calendar'

cal = DonRails::Calendar.thismonth
%>

<style type="text/css" media="screen">
<!--
  @import url("stylesheets/calendar.css");
-->
</style>
<div class="calendar">
  <div class="calendar-title"><%= cal.header %></div>
  <div class="calendar-main"><%= cal.to_html %></div>
</div><!-- the end of calendar -->
