
<%
article = @articles
%>

<div class="nnenhead">
<p>
<%= article.article_date %> /
<% article.categories.each do |cat| %>
[<%= link_to cat.name, {:action => "show_category", :category => cat.name} %>]
<% end %>
<%= don_to_title(article.title, article.format) %> /
</p>
</div> <!-- end nnenhead -->

<div class="section">
<%= auto_link don_to_html(article.body, article.format) %>
<%= render ("shared/comment-noadd", "article" => article) %>
</div> <!-- end section -->

