<html lang="ja">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rev="made" href="mailto:yasu@debian.or.jp">
<meta name="author" content="ARAKI Yasuhiro">

<%= stylesheet_link_tag "araki" %>
<%= javascript_include_tag "code-toggle-popup.js" %>
<%= javascript_include_tag "prototype.js" %>

<title>login <%=h @heading %></title>
</head>

<body>
<%= @content_for_layout %>
<hr>
</body>
</html>